*.a
*.desktop
*.expand
*.gcda
*.gcno
*.gcov
*.la
*.lnk
*.nccout
*.so
*.url
*.user
*.user.*
.deps
.libs
.project
.vs
/autom4te.cache/
/callgraph.svg
/changelog
/expat-*.tar.bz2
/expat-*.tar.bz2.asc
/libexpat*.dll
/libexpat.so.*
/run.sh
/stamp-h1
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Debug
GeneratedFiles
Makefile
Makefile.in
Release
Testing/
Win32
_*
aclocal.m4
build*
cmake_install.cmake
config.cache
config.log
config.status
configure
coverage__R*
expat.ncb
expat.opt
expat.pc
expat_config.h
expat_config.h.in
install_manifest.txt
libtool
m4/
source__R*
x64
